{% extends 'base2.html' %}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TUD Societies and Events</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Icon fonts-->
    <link rel="stylesheet" href="{%static 'css/pe-icon-7-stroke.css' %}">
    <!-- Lightbox CSS-->
    <link rel="stylesheet" href="{%static 'vendor/lightbox2/css/lightbox.min.css' %}">
    <!-- Leaflet CSS-->
    <link rel="stylesheet" href="{%static 'vendor/leaflet/leaflet.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{%static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{%static 'img/logo.jpg' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg py-lg-0">
        <div class="container"><a href="index" class="navbar-brand text-uppercase font-weight-bold">{%trans "Societies" %}</a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right small"><span class="text-uppercase mr-2">Menu</span><i class="fas fa-bars"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto d-lg-flex align-items-lg-center">
              <li class="nav-item"><a href="index" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Home" %}</a>
              </li>
              <li class="nav-item"><a href="Overview" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Overview" %}</a>
              </li>
			  <li class="nav-item"><a href="Events" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Events" %}</a>
              </li>
              <li class="nav-item"><a href="Join" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Join a Society" %}</a>
              </li>
			  <li class="nav-item"><a href="HowToMake" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4 active">{%trans "Create Society" %}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="py-5 bg-cover bg-gray">
      <div class="container py-5">
        <div aria-label="breadcrumb" class="nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">{%trans "Home" %}</a></li>
            <li aria-current="page" class="breadcrumb-item active">{%trans "Create" %}</li>
          </ol>
        </div>
        <h1 class="lined">{%trans "Create Society" %}</h1>
        <p class="lead my-4">{%trans "Do you have new idea for a society and would like to make a request. Well you are in the right place." %}</p>
      </div>
    </section>
    <figure><img src="{%static 'img/DIT-Society.jpg' %}" alt="" class="w-100">
      <figcaption class="text-muted text-center py-3 text-uppercase font-weight-bold small">{%trans "Become one of them today!!" %} </figcaption>
    </figure>
    <section class="py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-8">
			<h2 class="my-4">{%trans "Societies" %}</h2>
            <p> <strong>{%trans "Here at TUD" %}</strong> 
			{%trans "we have a number of socities for you to" %} 
			<a href ="Join">{%trans "join" %}</a>.
			<strong>{%trans " However" %}</strong>  
			{%trans "you may feel like we are missing the one for you. So let's hear your idea." %}</p>
			<h3 class="mb-4">{%trans "Here's what you need" %}</h3>
            <ol>
              <li>{%trans "A Society name and idea" %}</li>
              <li>{%trans "A Supervisor" %}</li>
			  <li>{%trans "At least five members. Name and Student Number" %}</li>
            </ol>
			<blockquote class="blockquote my-4">{%trans "'I noticed there was no society for bird watchers, so I saw my oppurtunity and used this easy set up. Never been happier in my life.'" %} - John <img src="{%static 'img/person-2.jpg' %}" alt="" width="40" class="rounded-circle"></blockquote>
			<blockquote class="blockquote my-4">{%trans "'We always felt even though we are humans we relate more to animals. So we wanted a society where that could be expressed and no longer be judged. This gave us that oppurtunity.'" %} - Sarah and Nigel <img src="{%static 'img/blog-avatar2.jpg' %}" alt="" width="40" class="rounded-circle"> <img src="{%static 'img/person-1.jpg' %}" alt="" width="40" class="rounded-circle"></blockquote>
			<blockquote class="blockquote my-4">{%trans "'Doing the same exercises was so boring so I needed a new way to excite me. I chose do seek no way of doing things but first I needed a crew. This allowed me to form a crew. I'm forever grateful and never bored'" %} - Harry <img src="{%static 'img/person-4.jpg' %}" alt="" width="40" class="rounded-circle"></blockquote>
			<div class="border-bottom my-4"></div>
            <h5 class="mb-4">{%trans "Application Form" %}</h5>
            <form id="contact-form" method="post" action="contact.php" class="contact-form form">
              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="name" class="font-weight-normal">{%trans "Society Name" %} <span class="text-primary">*</span></label>
                  <input id="name" type="text" name="name" required class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-6">
                  <label for="email" class="font-weight-normal">{%trans "Supervisor Name" %} <span class="text-primary">*</span></label>
                  <input id="email" type="email" name="email" required class="form-control">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-lg-12">
                  <label for="message" class="font-weight-normal">{%trans "Society Idea" %} <span class="text-primary">*</span></label>
                  <textarea id="message" rows="3" name="message" class="form-control"></textarea>
				  <label for="message" class="font-weight-normal">{%trans "Society Members" %} <span class="text-primary">*</span></label>
                  <textarea id="message" rows="3" name="message" class="form-control"></textarea>
                </div>
                <div class="form-group col-lg-12 text-right">
                  <button type="submit" class="btn btn-outline-primary"> <i class="far fa-comment mr-2"> </i>Submit</button>
                </div>
              </div>
            </form>
			<div class="border-bottom my-4"></div>
			<p><strong>{%trans "Alternatively" %}</strong> 
			{%trans "you can download this" %} 
			<a href="{%static 'form/Application_Form.pdf' %}">{%trans "form" %}</a> 
			{%trans "and fill it out then return to the Societies Office in Aungier Street." %}</p>
          </div>
        </div>
      </div>
    </section>
    <footer style="background: #eee;" class="pt-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-8 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">{%trans "About Events And Societies" %}</h5>
            <p class="text-muted text-small">{%trans "Due to the amount of correctional activities occuring in the world during the time of this text being written, many events and societies have had to be postponed/terminated." %}</p>
            <p class="text-muted text-small">{%trans "Not all events and societies are entirely factual. Viewer discretion is advised." %}</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">{%trans "Our offices" %}</h5>
            <h6>Dublin</h6>
            <p class="text-muted mb-0 text-small">Kevin Street</p>
            <p class="text-muted mb-0 text-small">Saint Peter's</p>
			<p class="text-muted mb-0 text-small">Dublin 2</p>
			<p class="text-muted mb-0 text-small">D08 X622</p>
            <p class="text-muted mb-4 text-small">(01) 402 3000</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">{%trans "More About TUD" %}</h5>
            <ul class="list-unstyled">
              <li><a href="https://tudublin.ie/explore/" class="footer-link text-small">{%trans "Explore" %}</a></li>
              <li><a href="https://tudublin.ie/study/visit-us/open-days/" class="footer-link text-small">{%trans "Open Days" %}</a></li>
              <li><a href="https://tudublin.ie/study/visit-us/" class="footer-link text-small">{%trans "Visit Us" %}</a></li>
              <li><a href="https://tudublin.ie/explore/university-calendar/" class="footer-link text-small">{%trans "Accounting" %}</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">{%trans "Run Up Our Socials!" %}</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/why.not.networks/photos/a.2789725731121268/2789764774450697/?type=3&theater" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/bec_white" class="social-link"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="mailto:someone@example.com?Subject=Hello%20again" class="social-link"><i class="fas fa-envelope"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="lined lined-dark mb-3">{%trans "News and Updates" %}</h5>
            <p class="text-muted mb-4 text-small">{%trans "Sign up to get weekly updates on events and societies!" %}
              <form action="#">
                <div class="input-group mb-3">
                  <input type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" class="form-control">
                  <div class="input-group-append">
                    <button id="basic-addon2" type="submit" class="input-group-text"><i class="fas fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>
            </p>
          </div>
        </div>
      </div>
      <div class="bg-dark py-4">    
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left mb-1 mb-lg-0">
              <p class="small text-gray mb-0">©2020 DRINK21</p>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <p class="small text-gray mb-0">KRAZE 4EVER</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="{%static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
    <script src="{%static 'vendor/leaflet/leaflet.js' %}"></script>
    <script src="{%static 'js/front.js' %}"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>