{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Events and Societies | TUD</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Icon fonts-->
    <link rel="stylesheet" href="{%static 'css/pe-icon-7-stroke.css' %}">
    <!-- Lightbox CSS-->
    <link rel="stylesheet" href="{%static 'vendor/lightbox2/css/lightbox.min.css' %}">
    <!-- Leaflet CSS-->
    <link rel="stylesheet" href="{%static 'vendor/leaflet/leaflet.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{%static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{%static 'img/ARVR-TU-Dublin-logo.png' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
      <nav class="navbar navbar-expand-lg py-lg-0">
        <div class="container"><a href="index"> <img border = "0" alt = "dit" src="{%static 'img/banner.png' %}" width="175" height="100"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right small"><span class="text-uppercase mr-2">Menu</span><i class="fas fa-bars"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto d-lg-flex align-items-lg-center">
              <li class="nav-item"><a href="index" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4 active">Home </a>
              </li>
              <li class="nav-item"><a href="Overview" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4 ">Societies</a>
              </li>
			  <li class="nav-item"><a href="Events" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4 ">Events</a>
              </li>
              <li class="nav-item"><a href="Join" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">Join a Society</a>
              </li>
			  <li class="nav-item"><a href="HowToMake" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">Create Society</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="loginModal" tabindex="-1" role="dialog" aria-lebelledby="loginModalLabel" aria-hidden="true" class="modal fade">
      <div role="document" class="modal-dialog modal-sm">
        <div class="modal-content rounded-0">
          <div class="modal-header">
            <h5 id="loginModalLabel" class="text-uppercase modal-title m-0">Customers login</h5>
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true" class="small text-muted">&times;</span></button>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="form-group">
                <input type="email" placeholder="email" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="password" class="form-control">
              </div>
              <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-primary nav-btn btn-sm"> <i class="fas fa-sign-out-alt mr-2"></i>Login </button>
              </div>
            </form>
            <div class="text-center">   
              <p class="text-muted small">Not registered yet?</p>
              <p class="small text-muted"> <a href="#" class="font-weight-bold">Register now!</a> It is easy and done in 1 minute and gives you access to special discounts and much more!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section style="background: url(img/jumbotron1.jpg)" class="py-5 bg-cover bg-center">
      <div class="hero-overlay"></div>
      <div class="container py-5 text-white text-center">
        <h1 class="text-shadow hero-heading">Events And Societies</h1>
        <p class="text-shadow lead my-4">Looking for fun, as much as can be?</p> <p>Find it and more, at TUD!</p>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-5">
        <h2 class="mb-4">An Event For Everyone!</h2>
        <p class="lead">Whether you're looking for a night out with your friends, a day of volunteering with your classmates,
		or some bonding time with your new fellow students, there is an event for everyone! Our wide array of events, gives any, and every student
		an opportunity to find something that suits them!</p>
        <p class="text-small">Click below to learn more about our numerous events!</p><a href="Events" class="btn btn-outline-primary btn-sm">Events →</a>

      </div>
    </section>
    <section class="bg-gray py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0"><a href="#" class="d-block"><img src="img/blog1.jpg" alt="" class="img-fluid mb-4"></a>
            <h3 class="h5 mb-4"><a href="#" class="text-dark">Shag Week</a></h3>
            <p class="text-small">Here at TUD, we're very, very passionate about safe sex! We want to make sure that at every turn, our students don't experience any scratches or burns! This year, TUD Kevin Street is hosting the annual "Shag Sexual Awareness" event for the 3rd year running! A sure place to be for young lovebirds!</p><a href="https://www.facebook.com/USI.ie/posts/shag-week-launch-day-this-week-the-union-of-students-in-ireland-usi-will-travel-/10155667854786910/" class="btn btn-outline-primary btn-sm">Continue reading →</a>
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0"><a href="#" class="d-block"><img src="img/blog2.jpg" alt="" class="img-fluid mb-4"></a>
            <h3 class="h5 mb-4"><a href="#" class="text-dark">Bingo Loco</a></h3>
            <p class="text-small">What some might describe to be the most over-gassed event in all of history, TUD is a strong advocate for Bingo Loco! It's incredibly repetitive play-style, awful song choices, and miserable outcomes will leave any event-goer in a mood of immense disapointment and regret! Unless you win! Which you won't.</p><a href="https://www.facebook.com/pg/bingolocoie/events/?ref=page_internal" class="btn btn-outline-primary btn-sm">Continue reading →</a>
          </div>
          <div class="col-lg-4"><a href="#" class="d-block"><img src="img/blog3.jpg" alt="" class="img-fluid mb-4"></a>
            <h3 class="h5 mb-4"><a href="#" class="text-dark">Table Quiz</a></h3>
            <p class="text-small">There's no better way to connect with your new classmates than over an activity that showcases just how unintelligent they are! Here at TUD, we host a table quiz every month, at every campus! So there's always an opportunity to see just how far Angel's knowledge of curry expands!</p><a href="https://quizireland.ie/events/table-quizzes/" class="btn btn-outline-primary btn-sm">Continue reading →</a>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <div class="container py-5">
        <h2 class="mb-4">So Many Societies!</h2>
        <p class="lead">Badminton, Karate, Coding, Producing, Eating, Wine-tasting! And that's just
		naming a few! Here at TUD, we have over 100 societies! That's right! You read that correctly!
		ONE HUNDRED societies! So there's guaranteed to be one for you!</p>
        <p class="text-small">Click below to learn more about our incredible societies!</p><a href="Overview" class="btn btn-outline-primary btn-sm">Societies →</a>
      </div>
    </section>
    <section class="py-5 bg-gray">
      <div class="container py-5">
        <h2 class="lined mb-4">Gallery</h2>
        <p class="lead">Take a look at the photos our photographer captured at some of our most popular events and societies!</p>
        <div class="row"><a data-lightbox="gallery" data-title="Description of Project No.1" class="col-lg-4 col-sm-6 p-0">
		<img src="{%static 'img/lavalampkb.jpg'%}" alt="" class="img-fluid"></a><a data-lightbox="gallery" data-title="Description of Project No.2" class="col-lg-4 col-sm-6 p-0">
		<img src="{%static 'img/necks.jpg'%}" alt="" class="img-fluid"></a><a data-lightbox="gallery" data-title="Description of Project No.3" class="col-lg-4 col-sm-6 p-0">
		<img src="{%static 'img/dad.jpg'%}" alt="" class="img-fluid"></a><a data-lightbox="gallery" data-title="Description of Project No.4" class="col-lg-4 col-sm-6 p-0">
		<img src="{%static 'img/dins.jpg'%}" alt="" class="img-fluid"></a><a data-lightbox="gallery" data-title="Description of Project No.5" class="col-lg-4 col-sm-6 p-0">
		<img src="{%static 'img/longraph.jpg'%}" alt="" class="img-fluid"></a><a data-lightbox="gallery" data-title="Description of Project No.6" class="col-lg-4 col-sm-6 p-0">
		<img src="{%static 'img/kbshegged.jpg'%}" alt="" class="img-fluid"></a><a data-lightbox="gallery" data-title="Description of Project No.7" class="col-lg-4 col-sm-6 p-0">
        </div>
      </div>
    </section>
    <footer style="background: #eee;" class="pt-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-8 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">About Events And Societies</h5>
            <p class="text-muted text-small">Due to the amount of correctional activities occuring in the world during the time of this text being written, many events and societies have had to be postponed/terminated.</p>
            <p class="text-muted text-small">Not all events and societies are entirely factual. Viewer discretion is advised.</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">Our offices</h5>
            <h6>Dublin</h6>
            <p class="text-muted mb-0 text-small">Kevin Street</p>
            <p class="text-muted mb-0 text-small">Saint Peter's</p>
			<p class="text-muted mb-0 text-small">Dublin 2</p>
			<p class="text-muted mb-0 text-small">D08 X622</p>
            <p class="text-muted mb-4 text-small">(01) 402 3000</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">More About TUD</h5>
            <ul class="list-unstyled">
              <li><a href="https://tudublin.ie/explore/" class="footer-link text-small">Explore</a></li>
              <li><a href="https://tudublin.ie/study/visit-us/open-days/" class="footer-link text-small">Open Days</a></li>
              <li><a href="https://tudublin.ie/study/visit-us/" class="footer-link text-small">Visit Us</a></li>
              <li><a href="https://tudublin.ie/explore/university-calendar/" class="footer-link text-small">Accounting</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">Run Up Our Socials!</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/why.not.networks/photos/a.2789725731121268/2789764774450697/?type=3&theater" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/bec_white" class="social-link"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="mailto:someone@example.com?Subject=Hello%20again" class="social-link"><i class="fas fa-envelope"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="lined lined-dark mb-3">News and Updates</h5>
            <p class="text-muted mb-4 text-small">Sign up to get weekly updates on events and societies!
              <form action="#">
                <div class="input-group mb-3">
                  <input type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" class="form-control">
                  <div class="input-group-append">
                    <button id="basic-addon2" type="submit" class="input-group-text"><i class="fas fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>
            </p>
          </div>
        </div>
      </div>
      <div class="bg-dark py-4">    
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left mb-1 mb-lg-0">
              <p class="small text-gray mb-0">©2020 DRINK21</p>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <p class="small text-gray mb-0">KRAZE 4EVER</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/lightbox2/js/lightbox.min.js"></script>
    <script src="vendor/leaflet/leaflet.js"></script>
    <script src="js/front.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>