{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TUDublin Join A Society</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
	<link rel="stylesheet" href="{%static 'css/contact.css' %}">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{%static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Icon fonts-->
    <link rel="stylesheet" href="{%static 'css/pe-icon-7-stroke.css' %}">
    <!-- Lightbox CSS-->
    <link rel="stylesheet" href="{%static 'vendor/lightbox2/css/lightbox.min.css' %}">
    <!-- Leaflet CSS-->
    <link rel="stylesheet" href="{%static 'vendor/leaflet/leaflet.css' %}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{%static 'css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{%static 'css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{%static 'img/favicon.png' %}">
    <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body>
    <!-- navbar-->
    <header class="header">
	<div></div>
      <nav class="navbar navbar-expand-lg py-lg-0">
        <div class="container"><a href="index"> <img border = "0" alt = "dit" src="{%static 'img/banner.png' %}" width="175" height="100"></a>
          <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right small"><span class="text-uppercase mr-2">Menu</span><i class="fas fa-bars"></i></button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto d-lg-flex align-items-lg-center">
              <li class="nav-item"><a href="index" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Home" %} </a>
              </li>
              <li class="nav-item"><a href="Overview" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Societies" %}</a>
              </li>
			  <li class="nav-item"><a href="Events" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Events" %}</a>
              </li>
              <li class="nav-item"><a href="Join" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4 active">{%trans "Join a Society" %}</a>
              </li>
			  <li class="nav-item"><a href="HowToMake" class="nav-link font-weight-bold text-uppercase px-lg-3 py-lg-4">{%trans "Create Society" %}</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="py-5 bg-cover bg-gray">
      <div class="container py-5">
        <div aria-label="breadcrumb" class="nav">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">Contact</li>
          </ol>
        </div>
        <h1 class="lined">{%trans "Contact" %}</h1>
        <p class="lead my-4">{%trans "If you have any queries on joining societies or if you need information about anything else feel free to contact us by:" %}</p>
		<ul>
			<li><p class="lead my-4"><b>{%trans "Filling out our contact form" %}</p></li>
			<li><p class="lead my-4"><b>{%trans "Ringing our telephone number" %}</p></li>
			<li><p class="lead my-4"><b>{%trans "Or by visiting us at one of our offices listed below" %}</p></li>
		</ul>
      </div>
	  
	  <div>
		  <section id="content">
		  <section class="Join">
		  <img src="{%static 'img/Join us.jpg' %}"  alt="Join" />
		  <img src="{%static 'img/Join2.png' %}" alt="Join" />
		  <img src="{%static 'img/Join3.jpg' %}" alt="Join" />
		  </div>
		<p class="lead my-4">{%trans "Here are just some of the societies that we would recommend you joining:" %}
		</p>
		<ol>
		<li><p class="lead my-2">
			<a href="https://www.facebook.com/photosoctudublin/"><i>{%trans "The Photo society" %}</i></a>
		</p>
		<ul>
		<li>{%trans "This is a society that adheres to all photographers and if you like taking pictures this is definitely the society for you." %}</li>
		<br>
		<li>{%trans "Joining societies is a great way of making new friends and doing the things you love so joining this or any society is a great way to settle into college life." %}</li>
		<br>
		<li>{%trans "Check out the link above to see the Photo Soc facebook page where you can view some of their great work." %}</li>
		</ul>
<li>	
<p class="lead my-4">{%trans "The musical society" %}</p></li>
<ul>
<li>{%trans "This society is a great society where you can show off all of your musical talents." %}</li>
<br>
<li>{%trans "Talents range from sick producers and artists to incredible instrument players." %}</li>
<br>
<li>{%trans "The musical society tries it's very best to display the musical talents of all its members." %}</li>
<br>
<li>{%trans "Join this society now click the link below to see one of our top members Kxngbari in action." %}</li>	
</li>
<li><p class="lead my-2">
			<a href="https://www.youtube.com/watch?v=umMw1FV-698"><i>{%trans "Youtube Link" %}</i></a>
</li>
<img src="{%static 'img/Music.jpg' %}" width="175" height="300" />
</ul>
<br>
<li>
<p class="lead my-4">The shank and shag society</p></li>
<ul>
<li>You looking for a way to eliminate all the frustration you have in your body and then having some quality sex.</li>
<br>
<li>If that's the case then this society is just for you.</li>
<br>
<li>This society focuses heavily on the health and wellbeing of it's members by giving each of their members their very own sex and stress doll (SS doll).</li>
<br>
<li>I mean just look at our main member Neko Nik. You don't even want to know the amount of SS dolls he is shanked and shagged to be this happy.</li>
<br>
<li>This society has been frowned upon in the past but the wonders it has done for men, women and others is why this society is now getting the respect it so dearly deserves.</li>
<br>
<li>Want to have a smile as wide as this this russian mofuckas? Join before May 1st and we'll throw in some SS doll sexy gadgets!</li>
<br>
<img src="{%static 'img/Big Nik.jpg' %}" width="175" height="200" />

    </section>
    <section class="py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12 col-md-6 mb-4">
			  <button type="button"  data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right small"> <a href="https://www.google.com/maps/dir//tu+dublin+grangegorman/ata=!4m8!4m7!1m0!1m5!1m1!1s0x48670c2ccf2eb465:0x9296b35bac4eb3ec!2m2!1d-6.2791831!2d53.3546095">
                <div class="icon mb-4"><i class="pe-7s-map-2"></i></div>
				</a>
				</button>
                <h5 class="lined mb-4">{%trans "Address" %}</h5>
                <p class="text-muted mb-0 text-small">Grangegorman Lower</p>
                <p class="text-muted mb-0 text-small"> Arran Quay</p>
                <p class="text-muted mb-0 text-small"><strong>Dublin 7</strong></p>
              </div>
              <div class="col-lg-12 col-md-6 mb-4">
                <div class="icon mb-4"><i class="pe-7s-phone"></i></div>
                <h5 class="lined mb-4">{%trans "Call center" %}</h5>
                <p class="text-muted mb-3 text-small">{%trans "This number is free to call from anywhere around the globe so don't be afraid to dial thos digits!" %}</p>
                <p class="text-muted font-weight-bold">(01) 402 3000</p>
              </div>
              <div class="col-lg-12 col-md-6 mb-4">
                <div class="icon mb-4"><i class="pe-7s-mail-open"></i></div>
                <h5 class="lined mb-4">{%trans "Electronic support" %}</h5>
                <p class="text-muted mb-3 text-small">{%trans "Please feel free to write an email to us." %}</p>
                <ul>
                  <li><a href="#" class="font-weight-bold text-small">info@fakeemail.com</a></li>
                  <li><a href="#" class="font-weight-bold text-small">Ticketio - our ticketing support platform</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-7 ml-auto">
            <div class="col-lg-12 col-md-6 mb-4">
              <div class="icon mb-4"><i class="pe-7s-pen"></i></div>
              <h5 class="lined mb-4">{%trans "Contact form" %}</h5>
			  <form action="/action_page.php" target="_blank" method="post" name="regForm" onsubmit="return( validate() );">			
              <p class="text-muted text-small">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>
              <form id="contact-form" method="post" action="contact.php" class="contact-form form">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <label for="name" class="font-weight-normal">{%trans "Firstname" %}<span class="text-primary">*</span></label>
                    <input id="name" type="text" name="name" class="form-control" required>
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="surname" class="font-weight-normal">{%trans "Lastname" %}<span class="text-primary">*</span></label>
                    <input id="surname" type="text" name="surname" class="form-control" required>
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="email" class="font-weight-normal">{%trans "Email" %} <span class="text-primary">*</span></label>
                    <input id="email" type="email" name="emailaddress" class="form-control" required>
                  </div>
                  <div class="form-group col-lg-6">
                    <label for="subject" class="font-weight-normal">{%trans "Location" %}</label>
                    <input id="subject" type="text" name="subject" class="form-control">
                  </div>
                  <div class="form-group col-lg-12">
                    <label for="message" class="font-weight-normal">{%trans "Message" %}</label>
                    <textarea id="message" rows="5" cols="10" name="message" class="form-control"></textarea>
                  </div>
                  <div class="form-group col-lg-12">
                    <button type="submit" class="btn btn-outline-primary"> <i class="far fa-envelope mr-2"> </i>{%trans "Send message" %}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="map"></div>
    <footer style="background: #eee;" class="pt-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-8 col-md-6 mb-4">
           <h5 class="lined lined-dark mb-3">{%trans "About Events And Societies" %}</h5>
            <p class="text-muted text-small">{%trans "Due to the amount of correctional activities occuring in the world during the time of this text being written, many events and societies have had to be postponed/terminated." %}</p>
            <p class="text-muted text-small">{%trans "Not all events and societies are entirely factual. Viewer discretion is advised." %}</p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">{%trans "Our offices" %}</h5>
            <h6>Dublin</h6>
            <p class="text-muted mb-0 text-small">Kevin Street</p>
            <p class="text-muted mb-0 text-small">Saint Peter's</p>
			<p class="text-muted mb-0 text-small">Dublin 2</p>
			<p class="text-muted mb-0 text-small">D08 X622</p>
            <p class="text-muted mb-4 text-small">(01) 402 3000</p>
            <h6>Grangegorman</h6>
            <p class="text-muted mb-0 text-small">Grangegorman Lower, Arran Quay,</p>
            <p class="text-muted mb-0 text-small">Dublin 7</p>
            <p class="text-muted mb-4 text-small">(01) 402 3000 </p>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">{%trans "Popular Societies" %}</h5>
            <ul class="list-unstyled">
              <li><a href="#" class="footer-link text-small">{%trans "Photography" %}</a></li>
              <li><a href="#" class="footer-link text-small">{%trans "Baking" %}</a></li>
              <li><a href="#" class="footer-link text-small">{%trans "Banter" %}</a></li>
              <li><a href="#" class="footer-link text-small">{%trans "African" %}</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <h5 class="lined lined-dark mb-3">{%trans "Run up our Socials!" %}</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/TUDublinCCSocieties/" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/anita-conway-41a38b13/?originalSubdomain=ie" class="social-link"><i class="fab fa-linkedin"></i></a></li>
			  <li class="list-inline-item"><a href="https://twitter.com/tudublin_socs?lang=en" class="social-link"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fas fa-envelope"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6">
            <h5 class="lined lined-dark mb-3">{%trans "News and Updates" %}</h5>
            <p class="text-muted mb-4 text-small">{%trans "Sign up to get weekly updates on events and societies." %}</p>
              <form action="#">
                <div class="input-group mb-3">
                  <input type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" class="form-control">
                  <div class="input-group-append">
                    <button id="basic-addon2" type="submit" class="input-group-text"><i class="fas fa-paper-plane"></i></button>
                  </div>
                </div>
              </form>
            </p>
          </div>
        </div>
      </div>
      <div class="bg-dark py-4">    
        <div class="container">
          <div class="row">
            <div class="col-lg-6 text-center text-lg-left mb-1 mb-lg-0">
              <p class="small text-gray mb-0">©2020 DRINK21</p>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
              <p class="small text-gray mb-0">KRAZE 4EVER</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- JavaScript files-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/lightbox2/js/lightbox.min.js"></script>
    <script src="vendor/leaflet/leaflet.js"></script>
    <script src="js/front.js"></script>
	<script src="../static/js/contact.js"></script>
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>